@import "nav.scss";
@import "landing.scss";
@import "./resume/resume.scss";

html, body {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  background-color: $white;
}

.app-wrapper {
  margin: 0 2rem;
}

.home-common {
  position: absolute;
  color: white;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
}

.home-dropdown {
  display: none;
}


@media only screen and (max-width: 750px) {
  .home-link {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .home-dropdown{
    display: block;
    line-height: 8px;
    color: black;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}
