@import "variables.scss";

$links-font-size: 1.2rem;

.links-common {
  margin: 0 auto;
  text-align: center;
  font-size: $links-font-size;
  line-height: $line-height-navbar;
  background: linear-gradient(to right bottom, $from-color,$to-color);

  .link {
    padding: 10px;
    text-decoration: none;
    color: $white;

    &:hover {
      color: black;
      
    }
  }
}

@media only screen and (max-width: 750px) {
  .links-common.wrapper {
    display: none;
  }
}

.dropdown {
  list-style: none;
  position: absolute;
  padding: 0.5rem;
  margin-top: -0.5rem;
  cursor: pointer;

  li {
    background: linear-gradient(to right bottom, #D1913C, #FFD194);
    padding: 5px;
  }

  .link {
    padding: 10px;
    text-decoration: none;
    color: $white;

    &:hover {
      color: black;
      
    }
  }
}

.home-common {
  position: absolute;
  color: white;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
}

.home-dropdown {
  display: none;
}


@media only screen and (max-width: 750px) {
  .home-link {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .home-dropdown{
    display: block;
    line-height: 8px;
  }
}

.small-screen {
  line-height: 2.5rem;
  padding-left: 2rem;
  color: white;
  background: linear-gradient(to right bottom, #D1913C, #FFD194);
}
